body{
    background-color : #F0F4F8; 
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    max-width: 100%;
    max-width: 1800px;
     
      margin: 0 auto;
   
}
.grid-container {
display: grid;
grid-template-columns: 1fr 1fr  ;
grid-template-areas:
' section section section section section '
' footer footer footer footer footer';
width: 100%;

     padding-top: 100px;
    
}
#t{
    color: #0D1B2A ;
}
.grid-item2{grid-area: section;}
.grid-item3{grid-area: footer;}
.grid-container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left:0%;
    transform: translateX(-50%);
    width: 1700px;
    z-index: 999;
    
}
#logo{
    font-size: 50px;
    margin-bottom: 70px;
}
#profil{
    padding-top: 100px;
    max-width: 700px;
    margin: 0 auto;
}
.couleurbeige{
    background-color: #0D1B2A;
}
.text_center{
    text-align: center;
}
.nav0:hover, .nav1:hover, .nav2:hover, .nav3:hover, .nav4:hover, .nav5:hover, .nav7:hover, .nav8:hover {
    background: #1B4F72;
    color: white;
}
.nav0, .nav1, .nav2, .nav3, .nav4, .nav5, .nav7, .nav8{
    flex: 0.5;
    text-align: center;
    padding: 3px;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: black;
}
#nav {
    position: fixed;
    width: 1700px;
    margin: 0 auto;
    overflow: visible;
    cursor: pointer; 
    left: 50%;
    transform: translateX(-50%); 

}
footer {
    position: fixed;
    width: 1200px;
    bottom: 0;
    overflow: visible; 
    left: 50%;
    transform: translateX(-50%); 
    text-align: center;

}


.grid-container3 {
    display: grid;
    grid-template-areas:
    'co4'
    'co1'
    'co2'
    'co3'
    'co5'
    'co0';
    grid-template-columns: 1fr;  
    width: 400px;
    margin: 0 auto;
    margin-top: 20vh;
    max-width: 1200px;
     padding-top: 100px;
}

.co0 { grid-area: co0; }
.co1 { grid-area: co1; }
.co2 { grid-area: co2; }
.co3 { grid-area: co3; }
.co4 { grid-area: co4; }
.co5 { grid-area: co5; }
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px 15px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color:#2E86AB; 
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color:#2E86AB;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
input[type="date"] {
    width: 100%;
    padding: 10px 15px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
    background-color: white;
    color: #0D1B2A;
}

input[type="date"]:focus {
    border-color: #2E86AB;
}


input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    opacity: 0.6;
   
}
input[type="number"] {
    width: 100%;
    padding: 10px 15px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
}

input[type="number"]:focus {
    border-color: #2E86AB;
}
#faux-bouton {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #7e9ca8;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
}
#creer{
    margin-top: 50px;
}
#faux-bouton:hover {
    background-color: #1B4F72;
}
#mondiv {
    position:fixed;
    top: 0px;       
    left: 0px;         
    width: 100vw;
    background:#0D1B2A;
    display: none;
}
button{
     width: 100%;
    padding: 10px;
    background-color: #2E86AB;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color:#2E86AB 
}
.seco{
    font-size: 30px;
    margin-bottom: 30px;
}
#sesouv{
    margin-bottom: 30px;
    margin-top: 20px;
}
span{
    color: blue;
}
#blue {
    color: blue;
}
 #burgerr{
        display: none;
    }
    .grid-container4 {
   padding-top: 100px;
   width: 400px;
    margin: 0 auto;
    margin-top: 20vh;
}
 .grid-container5 {
   padding-top: 100px;
   width: 400px;
    margin: 0 auto;
    margin-top: 20vh;
}

.listescroll {
    display: flex;          /* ← flex pas block */
    flex-direction: row;    /* ← côte à côte */
    gap: 10px;
    overflow-x: auto;
    flex-wrap: nowrap;
    max-width: 100%;
    background-color:  #f5f5f7;
    border-radius: 8px;
    padding: 10px;
    
}
.blanc{
    color: white;
}
.listescroll::-webkit-scrollbar {
    display: none;
}
article#liste {
    min-width: 400px;       /* ← largeur fixe de chaque carte */
    min-height: 500px;
    background: white;
    border-radius: 8px;
    padding: 10px;
    flex-shrink: 0;         /* ← empêche les cartes de rétrécir */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-color: #A8DADC;
}
/* Smalldevices(portrait tablets andlargephones, 600pxand up)*/
@media only screen and (min-width: 600px) {
    
    }

/* Mediumdevices(landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Largedevices(laptops/desktops,992px and up) */
@media only screen and (min-width: 992px) {
   
}

/* Extralargedevices (largelaptops and desktops, 1200pxand up)*/
@media only screen and (min-width: 1200px){
     
}

@media only screen and (max-width: 600px) {
    h2{
        text-align: center;
    }
   
.burger {
    background: none !important; /* ← ça écrase tout */
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    
}

.burger span {
    display: block;
    width: 25px;
    height: 3px;
    background: black;
    border-radius: 3px;
}

.burger.active span {
     background: white;
}
#burgerr {
    position: fixed;
    top: 10px;       
    left: 10px;         
    width: 50px;
    background-color: #F0F4F8 !important; /* même couleur que le body */
    display: block;
    z-index: 1001;
    transition: background-color 0.3s;
}

#burgerr.active {
    background-color: #0D1B2A !important;
}
#nav{
    display: none;
}
article#liste {
    min-width: 200px;       /* ← largeur fixe de chaque carte */
    min-height: 300px;
    background: white;
    border-radius: 8px;
    padding: 10px;
    flex-shrink: 0;         /* ← empêche les cartes de rétrécir */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-color: #A8DADC;
}
}